* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro1 {
    font-size: 40px;
}

.intro2 {
    font-size: 20px;
}

.hero {
    height: 450px;
    background-image: url(images/image\ cover.jpg);
    color: #56b8b8;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.hero2 {
    height: 900px;
    background-image: url(images/image\ cover.jpg);
    color: #56b8b8;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    box-sizing: border-box;
    
}

.form {
    background-color: #56b8b8;
    color: antiquewhite;
    padding: 40px 50px 60px 60px;
    width: 500px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    border-radius: 7px;
    margin: auto;
    margin-top: 80px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;


}

.title {
    margin-left: auto;
    font-weight: 600px;
    text-align: center;
}

.reg {
    display: grid;
    /* grid-template-columns: 300px; */
    row-gap: 5px;
}

label {
    display: block;
    margin-bottom: 8px;
}
input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid antiquewhite;
}

input:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.btn {
    background:antiquewhite;
    color: #56b8b8;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    text-align: center;

}


.parent {
    display: flex;
    justify-content: flex-end;
    padding: 15px 10px;
    box-sizing: border-box;
    background-color: rgb(98, 177, 177);
}

.input {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
}

.item {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 270px;
    width: 32.7%;
    color: rgb(36, 4, 23);
    margin: 4px;
}

.footer {
    box-sizing: border-box;
    background-color: bisque;
    margin: 0px;
    padding: 0;
    height: 600px;
    text-align: center;
}

.link {
    text-decoration: none;
    color: black;
    text-align: center;
}

.item1 {
    width: 33.33%;
    float: left;
}
.buttom{
    text-decoration: none;
    color: white;
}



@media screen and (max-width:1262px) {
    .item {
        height: 230px;
        width: 32.6%;
    }
}

@media screen and (max-width:1091px) {
    .item {
        height: 230px;
        width: 32.5%;
    }
}

@media screen and (max-width:960px) {
    .item {
        height: 230px;
        width: 32.4%;
    }
}

@media screen and (max-width:857px) {
    .item {
        height: 230px;
        width: 32.3%;
    }
}

@media screen and (max-width:774px) {
    .item {
        height: 230px;
        width: 32.2%;
    }
}

@media screen and (max-width:706px) {
    .item {
        height: 230px;
        width: 32.1%;
    }
}

@media screen and (max-width:649px) {
    .item {
        height: 230px;
        width: 32%;
    }
}

@media screen and (max-width:600px) {
    .item {
        height: 230px;
        width: 31.9%;
    }
}

@media screen and (max-width:558px) {
    .item {
        height: 230px;
        width: 31.8%;
    }
}

@media screen and (max-width:521px) {
    .item {
        height: 230px;
        width: 31.7%;
    }
}

@media screen and (max-width:490px) {
    .item {
        height: 230px;
        width: 31.6%;
    }
}

@media screen and (max-width:461px) {
    .item {
        height: 230px;
        width: 31.5%;
    }
}

@media screen and (max-width:437px) {
    .item {
        height: 230px;
        width: 31.4%;
    }
}